.mydrop {
    position: absolute;
    top: 50px;
    left: 30px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-in, visibility 0s linear 0.5s;
}

.headdrop:hover  .mydrop {
    visibility: visible;
    opacity: 1;
    z-index: 2;
    transition: opacity 0.5s ease-in;
}

.textlink {
    color: #0DE6DD;
    font-size: 30px;  
}

option, select {
    font-size: large;
}

